<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/indexinformasiStyle.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="/public/img/logo.png" alt="logo" />
      <a href="/" class="appName"
        ><h3>LAB KIMIA</h3>
        <h5>SMA SCIENCE</h5></a
      >
      <nav>
        <ul class="nav_links">
          <li><a href="/homepage">Home</a></li>
          <li><a href="/indexinventaris">Inventaris</a></li>
          <li>
            <a href="/historypeminjamanlab">Peminjaman</a>
            <ul>
              <li><a href="/historypeminjamanbarang">Riwayat Peminjaman Barang</a></li>
              <li><a href="/historypeminjamanlab">Riwayat Peminjaman Lab</a></li>
            </ul>
          </li>
          <li>
            <a href="/news">News</a>
            <ul>
              <li><a href="/inputinformasi">Tambah Informasi Lab</a></li>
            </ul>
          </li>
          <li>
            <a href="/login">Login</a>
            <ul>
              <li><a href="/editacc">Edit Akun</a></li>
              <li><a href="/indexpengajuan">Inbox</a></li>
              <li><a href="/user">All Users</a></li>
              <li><a href="/inputuser">Tambah Akun</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--Header-->

    <!--Main Site-->
    <section id="blog">
      <div class="blog-heading">
        <h3>All News</h3>
      </div>

      <div class="blog-container">
        <div class="blog-box">
          <div class="blog-text">
            <span>18 July 2020</span>
            <a href="#" class="blog-title">What Has Happened of All of the Web Design Ideas?</a>
            <p>
              Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and
              approved.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="blog-box">
          <div class="blog-text">
            <span>18 July 2020</span>
            <a href="#" class="blog-title">What Has Happened of All of the Web Design Ideas?</a>
            <p>
              Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and
              approved.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>

        <div class="blog-box">
          <div class="blog-text">
            <span>18 July 2020</span>
            <a href="#" class="blog-title">What Has Happened of All of the Web Design Ideas?</a>
            <p>
              Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and
              approved.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="blog-box">
          <div class="blog-text">
            <span>18 July 2020</span>
            <a href="#" class="blog-title">What Has Happened of All of the Web Design Ideas?</a>
            <p>
              Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and
              approved.
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <!--Main Site-->
  </body>
</html>
