<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/public/css/indexinformasiStyle.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="/public/img/logo.png" alt="logo" />
      <a href="/" class="appName"
        ><h3>LAB KIMIA</h3>
        <h5>SMA SCIENCE</h5></a
      >
      <nav>
        <ul class="nav_links">
          <li><a href="/homepage">Home</a></li>
          <li><a href="/indexinventaris">Inventaris</a></li>
          <li>
            <a href="/historypeminjamanlab">Peminjaman</a>
            <ul>
              <li><a href="/historypeminjamanbarang">Riwayat Peminjaman Barang</a></li>
              <li><a href="/historypeminjamanlab">Riwayat Peminjaman Lab</a></li>
            </ul>
          </li>
          <li>
            <a href="/news">Berita</a>
            <ul>
              <li><a href="/inputinformasi">Tambah Informasi Lab</a></li>
            </ul>
          </li>
          <li>
            <a href="/login">Login</a>
            <ul>
              <li><a href="/editacc">Ubah Akun</a></li>
              <li><a href="/indexpengajuan">Kotak Masuk</a></li>
              <li><a href="/user">Semua Pengguna</a></li>
              <li><a href="/inputuser">Tambah Akun</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--Header-->

    <!--Main Site-->
    <section id="blog">
      <div class="blog-heading">
        <h3>Informasi Lab</h3>
      </div>

      <div class="blog-container">
        <div class="blog-box">
          <div class="blog-text">
            <span>09 November 2022</span>
            <a href="#" class="blog-title">Sekolah SMA Science resmi meraih akreditasi A mulai hari ini</a>
            <p>
              Hari ini (09/11/2022), SMA Science resmi menyandang predikat "unggul" untuk akreditasinya. hal ini menjadi batu loncatan yang sangat luar biasa karena sebelumnya, akreditasi yang dimiliki masih B. Hal ini menjadi penyemangat
              para guru SMA Science untuk terus mengembangkan kualitas pendidikan di SMA Science agar kedepannya menjadi lebih baik lagi.
            </p>
            <a href="#">Baca Selengkapnya</a>
          </div>
        </div>

        <div class="blog-box">
          <div class="blog-text">
            <span>07 Oktober 2022</span>
            <a href="#" class="blog-title">Siswa SMA Science berhasil juara 1 Olimpiade Matematika.</a>
            <p>
              Hari ini, pada tanggal 7 Oktober 2022, SMA Science dengan bangga mengumumkan bahwa salah satu siswa kelas X IPA 2, Alexander Geoffmax berhasil meraih juara 1 pada Olimpiade Matematika yang diselenggarakan oleh Universitas
              Negeri Surabaya. Dengan ini, harapannya, nama SMA Science semakin harum di mata perguruan tinggi negeri sehingga memudahkan lulusan SMA Science untuk diterima di PTN impiannya.
            </p>
            <a href="#">Baca Selengkapnya</a>
          </div>
        </div>

        <div class="blog-box">
          <div class="blog-text">
            <span>05 Juli 2022</span>
            <a href="#" class="blog-title">SMA Science telah membuka PPDB Tahun 2022.</a>
            <p>
              Mulai hari ini (05/07/2022), SMA Science resmi membuka pendaftaran peserta didik baru tahun ajaran 2022. Proses pelaksanaan PPDB akan diselenggarakan secara online melalui situs resmi SMA Science di www.smascience.com/ppdb2022
            </p>
            <a href="#">Baca Selengkapnya</a>
          </div>
        </div>
        <div class="blog-box">
          <div class="blog-text">
            <span>18 Maret 2022</span>
            <a href="#" class="blog-title">Implementasi Green School di SMA Science</a>
            <p>
              Pada hari ini (13/03/2022), seluruh civitas akademika SMA Science ikut berkontribusi dalam acara "Green School". Acara ini merupakan acara rutin tahunan yang bertujuan untuk menanamkan kesadaran akan penghijauan bagi siswa
              siswi SMA Science.
            </p>
            <a href="#">Baca Selengkapnya</a>
          </div>
        </div>
      </div>
    </section>
    <!--Main Site-->
  </body>
</html>
