<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="/public/css/informasiStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>

</head>
<body>
    <header>
        <img class="logo" src="/public/img/logo.png" alt="logo">
        <a href="/" class="appName"><h3>LAB KIMIA</h3><h5>SMA SCIENCE</h5></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="/homepage">Home</a></li>
                    <li><a href="/indexinventaris">Inventaris</a></li>
                    <li>
                        <a href="/historypeminjamanlab">Peminjaman</a>
                        <ul>
                            <li><a href="/historypeminjamanbarang">Riwayat Peminjaman Barang</a></li>
                            <li><a href="/historypeminjamanlab">Riwayat Peminjaman Lab</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/news">News</a>
                        <ul>
                            <li><a href="/inputinformasi">Tambah Informasi Lab</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                        <ul>
                            <li><a href="/editacc">Edit Akun</a></li>                            
                            <li><a href="/indexpengajuan">Inbox</a></li>
                            <li><a href="/user">All Users</a></li>
                            <li><a href="/inputuser">Tambah Akun</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
    </header>
    <!--Header-->

    <!--Main Site-->
    <section id="blog">
        <div class="blog-container">
            <div class="back_btn">
                <a href="/"><i class="fa fa-arrow-left"></i>  </a>
            </div>    
            <div class="button">
                <a href="#" class="btn-edit-inventaris">
                    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                </a>
                <button type="submit" class="btn-delete-inventaris">
                    <span class="text-gradient"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="blog-box">
                <div class="blog-text">
                    <span>18 July 2020</span>
                    <a href="#" class="blog-title">What Has Happened of All of the Web Design Ideas?</a>
                    <p>Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and approved. Lorem Ipsum, sometimes referred to as 'lipsum', is the placeholder text used in design when creating content. It helps designers plan out where the content will sit, without needing to wait for the content to be written and approved.</p>
                </div>
            </div>
               
    </section>
    <!--Main Site-->
</body>
</html>