<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Informasi</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/inputinformasiStyle.css">
    <script src="/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>

</head>
<body>
    <!-- Input Informasi -->
    <div class="input_informasi">
        <div class="back_btn">
            <a href="/"><i class="fa fa-arrow-left"></i>  </a>
        </div>
        <h1>Input Informasi</h1>
        <span class="title_span">Gunakan form dibawah ini untuk menambah informasi kegiatan baru</span>
        <form action="/insert/informasi" method="post">
            <div class="txt_field">
              <input type="text" name="nama" required>
              <span></span>
              <label for="name">Nama Kegiatan</label>
            </div>
            
            <input type="text" id="editor">
            <input type="hidden" id="desc" name="desc" required>

            <!-- <div class="txt_field" id="editor">
                <textarea name="desc" id="editor" cols="57" rows="10"></textarea>
            </div> -->
            <div class="btn">
                <span></span>
                <button type="submit" class="btn_success">Save</button>
            </div>
          </form>
    </div>
<!-- Input Inventaris -->

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .then( editor => {
                window.editor = editor;
            } )
            .catch( error => {
                console.error( 'There was a problem initializing the editor.', error );
            } );
    </script>
    <script type="text/javascript">
        editor.model.document.on( 'change:data', () => {
                const desc = editor.getData()
                document.getElementById("desc").value = desc
            } ); 
    </script>
    <!--Header-->
    <%- include('../header') %>
    <!--Header-->
</body>
</html>