@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif; 
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
}
body
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),url(/img/background.jpg);
    background-size: cover;
    background-position: center;
}



/*Menu Bar*/
#menuBar
{
    position: relative;
    bottom: 990px;
}
#menuBar li, a, button
{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background: #0088a9;
}
.logo
{
    cursor: pointer;
    margin-right: auto;
    width: 70px;
}
.appName
{
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    cursor: pointer;
    margin-right: auto;
    left: 270px;
}
#nav:after
{
    content: '';
    clear: both;
    display: table;
}

#nav ul
{
    float: right;
    list-style: none;
}
#nav ul li
{
    display: inline-block;
    background: #0088a9;
    margin: 0 5px;
}
#nav ul li a
{
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
}
#nav ul li a:hover
{
    font-weight: 600;
}
#nav ul ul li a:hover
{
    font-weight: 600;
    box-shadow: none
}
#nav ul ul
{
    position: absolute;
    top: 60px;
    opacity: 0;
    visibility: hidden;
}
#nav ul li:hover > ul
{
    opacity: 1;
    visibility: visible;
}
#nav ul ul li 
{
    position: relative;
    margin: 0px;
    width: 230px;
    float: none;
    display: list-item;
    border-bottom: 1px solid #adadad;
}
.logout button
{
    text-decoration: none;
    padding: 1.5em 1em;
    border: none;
    background-color: transparent;
}
.logout button:focus
{
    border: none;
    outline: none;
}
.logout button:hover
{
    font-weight: 600;
    box-shadow: none
}

/*News*/
.button
{
    position: absolute;
    top: 120px;
    right: 510px;  
}
.button a
{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
    border: 1px solid #adadad;
    border-radius: 10px;
}
.button a:hover
{
    background-color:#0064a7 ;
}

.button button
{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0 .2em;
    border: 1px solid #adadad;
    border-radius: 10px;
    background-color: transparent   ;
}
.button button:hover
{
    background-color:#0064a7 ;
}
.text-gradient
{
    background: linear-gradient(to right, #1200b3, #1200b3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
#blog
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:40px;
    margin-top: 50px;
}
.blog-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:60px 0px;
    flex-wrap:wrap;
}
.blog-box
{
    width:900px;
    height: 700px;
    background-color:#ffffff;
    border:1px solid #ececec;
    margin:20px;
}   
.blog-text
{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span
{
    color: #f33c3c;
    font-size: 1.2rem;
}
.blog-text
{
    font-size: 16px;
    font-weight: 500;
    color: #272727;
}
.blog-title
{
    font-size: 2rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover
{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text p
{
   color:#9b9b9b;
   font-size:16px;
   margin: 20px 0px;
}

.blog-text a:hover
{
    color:#f33c3c;
    transition: all ease 0.3s;
}

.back_btn a 
{
    color: #2b2d42;
}
.back_btn a i
{
    cursor: pointer;
    padding: 0.5em 0.5em;
    border-radius: 50%;
}

.back_btn
{
    position: absolute;
    top: 120px;
    left: 510px;
}
.back_btn a i:hover,
.back_btn a i:active
{
    background: #2691d9;
    color: #fff;
}
